@use '@/assets/tokens';

.v-messages {
	font-size: 14px !important;

	.v-messages__message {
		line-height: 16px !important;
		color: tokens.$colors-text-subdued !important;
	}
}

.v-checkbox .v-selection-control,
.v-radio .v-selection-control {
	min-height: 40px;
}
