@use '@/assets/apTokens';

.v-theme--ap.v-btn--icon .v-icon {
  color: apTokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;

	&:hover {
      color: apTokens.$colors-icon-accent-secondary !important;
	}
}
