@use '@/assets/apTokens';
@use '@/assets/amelipro/apTokens2026';
@use '@/assets/tokens';

.v-theme--ap.v-btn--icon .v-icon {
	color: apTokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;
}

.v-theme--ap .v-btn--icon:hover {
	opacity: 0.08;
}

.v-theme--ap2026.v-btn--icon .v-icon {
	color: apTokens2026.$ap-blue-darken1 !important;
	transition: color 0.2s ease;
}

.v-theme--ap2026 .v-btn--icon:hover {
	opacity: 0.08;
}

.v-theme--cnam.v-btn--icon .v-icon,
.v-theme--pa.v-btn--icon .v-icon {
	color: tokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;
}

.v-theme--cnam .v-btn--icon:hover,
.v-theme--pa .v-btn--icon:hover {
	opacity: 0.08;
}

.v-theme--ap.v-icon {
	color: apTokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;
}

.v-theme--ap2026.v-icon {
	color: apTokens2026.$ap-blue-darken1 !important;
	transition: color 0.2s ease;
}

.v-theme--cnam.v-icon,
.v-theme--pa.v-icon {
	color: tokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;
}