@use '@/assets/apTokens';
@use '@/assets/amelipro/apTokens2026';
@use '@/assets/tokens';

.v-theme--ap.v-btn--icon .v-icon {
	color: apTokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;

	&:hover {
		color: apTokens.$colors-icon-accent-primary-contrasted !important;
	}
}

.v-theme--ap2026.v-btn--icon .v-icon {
	color: apTokens2026.$ap-blue-darken1 !important;
	transition: color 0.2s ease;

	&:hover {
		color: apTokens2026.$ap-blue-darken2 !important;
	}
}

.v-theme--cnam.v-btn--icon .v-icon {
	color: tokens.$colors-icon-accent-primary !important;
	transition: color 0.2s ease;

	&:hover {
		color: tokens.$colors-icon-accent-primary-contrasted !important;
	}
}
