@use '@/assets/amelipro/apTokens2026';
@use '@/assets/apTokens';

.v-tooltip .v-overlay__content {
	background-color: rgb(0 0 0 / 70%);
}

.v-theme--ap2026.v-tooltip .v-overlay__content {
	color: apTokens2026.$ap-black;
	background-color: apTokens2026.$ap-white;
	border: 1px solid apTokens2026.$ap-parme-darken1;
}

.v-theme--ap.v-tooltip .v-overlay__content {
	font-size: apTokens.$font-size-link-label;
}
