@use '@/assets/amelipro/apTokens';

.v-tooltip .v-overlay__content {
	background-color: rgb(0 0 0 / 70%) !important;
}

.v-theme--ap.v-tooltip .v-overlay__content {
	background-color: apTokens.$ap-white !important;
	border: 1px solid apTokens.$ap-parme-darken1 !important;
}
