.theme-cnam,
.theme-pa {
	--footer-background: rgb(var(--v-theme-parma-darken60));
	--alert-warning-background: rgb(var(--v-theme-feedbackWarningVariant));
	--alert-warning-accent: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-border: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-icon: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-icon-bg: rgb(var(--v-theme-feedbackWarningVariant));
	--alert-info-background: rgb(var(--v-theme-feedbackInfoVariant));
	--alert-info-accent: rgb(var(--v-theme-feedbackInfo));
	--alert-info-border: rgb(var(--v-theme-feedbackInfo));
	--alert-info-icon: rgb(var(--v-theme-feedbackInfo));
	--alert-info-icon-bg: rgb(var(--v-theme-feedbackInfoVariant));
	--alert-success-background: rgb(var(--v-theme-feedbackSuccessVariant));
	--alert-success-accent: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-border: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-icon: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-icon-bg: rgb(var(--v-theme-feedbackSuccessVariant));
	--alert-error-background: rgb(var(--v-theme-feedbackErrorVariant));
	--alert-error-accent: rgb(var(--v-theme-feedbackError));
	--alert-error-border: rgb(var(--v-theme-feedbackError));
	--alert-error-icon: rgb(var(--v-theme-feedbackError));
	--alert-error-icon-bg: rgb(var(--v-theme-feedbackErrorVariant));
}

.theme-ap,
.theme-ap2026 {
	--footer-background: rgb(var(--v-theme-accentPrimaryContrasted));
	--alert-background: rgb(var(--v-theme-accentPrimaryContrasted));
	--alert-warning-background: rgb(var(--v-theme-feedbackWarningVariant));
	--alert-warning-accent: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-border: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-icon: rgb(var(--v-theme-feedbackWarning));
	--alert-warning-icon-bg: rgb(var(--v-theme-feedbackWarningVariant));
	--alert-info-background: rgb(var(--v-theme-feedbackInfoVariant));
	--alert-info-accent: rgb(var(--v-theme-feedbackInfo));
	--alert-info-border: rgb(var(--v-theme-feedbackInfo));
	--alert-info-icon: rgb(var(--v-theme-feedbackInfo));
	--alert-info-icon-bg: rgb(var(--v-theme-feedbackInfoVariant));
	--alert-success-background: rgb(var(--v-theme-feedbackSuccessVariant));
	--alert-success-accent: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-border: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-icon: rgb(var(--v-theme-feedbackSuccess));
	--alert-success-icon-bg: rgb(var(--v-theme-feedbackSuccessVariant));
	--alert-error-background: rgb(var(--v-theme-feedbackErrorVariant));
	--alert-error-accent: rgb(var(--v-theme-feedbackError));
	--alert-error-border: rgb(var(--v-theme-feedbackError));
	--alert-error-icon: rgb(var(--v-theme-feedbackError));
	--alert-error-icon-bg: rgb(var(--v-theme-feedbackErrorVariant));
}
