.theme-cnam,
.theme-pa {
    --footer-background: rgb(var(--v-theme-parma-darken60));
}

.theme-ap,
.theme-ap2026 {
    --footer-background: rgb(var(--v-theme-primary));
}

.theme-cnam,
.theme-pa,
.theme-ap,
.theme-ap2026 {
    --carousel-controls-background: rgb(255 255 255);
}

.v-carousel .v-carousel__controls {
    background-color: var(--carousel-controls-background) !important;
}

// Style pour tous les indicateurs (non actifs)
.v-carousel .v-carousel__controls .v-btn .v-icon {
    color: rgb(var(--v-theme-disabled)) !important;
    opacity: 1;
}

// Style pour l'indicateur actif
.v-carousel .v-carousel__controls .v-btn--active .v-icon {
    color: rgb(var(--v-theme-primary)) !important;
    opacity: 1;
}
