# Dependencies
node_modules

# Build
dist
storybook-static
dist-ssr
.local
types/

# Logs
logs
*.log

# Dev
dev/Playground.vue
dev/Playground.template.vue

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests coverage
**/tests/**/coverage

*storybook.log