@use '@/assets/tokens';

@mixin tablestyles {
	.v-table {
		border: 1px solid tokens.$grey-lighten-80;
	}
	table thead tr {
		white-space: nowrap;
	}

	table thead th {
		.v-data-table-header__content {
			opacity: 0.65;
			font-size: 0.875rem;
			font-weight: 700 !important;
		}
	}

	table thead tr.filters {
		background-color: tokens.$blue-lighten-90;
	}

	&.row-clickable table tbody tr {
		cursor: pointer;
	}

	&.fixed-min-height {
		.v-data-table__wrapper {
			min-height: 540px;
		}
	}

	&.no-mobile-header {
		.v-data-table-header-mobile {
			display: none;
		}
	}

	.v-field {
		&--active {
			.v-field__prepend-inner > .v-icon,
			.v-field__append-inner > .v-icon,
			.v-field__clearable > .v-icon {
				opacity: 1;
				color: tokens.$primary-base;
			}
		}

		&--focused {
			border-color: tokens.$primary-base;
			color: tokens.$primary-base;
		}
	}
}
