body {
    font-family: Arial, sans-serif;
}

h1.title {
    color: #0C419A;
    font-size: 3rem !important;
    line-height: normal !important;
}

@media (max-width: 768px) {
    h1.title {
        font-size: 2rem !important;
    }
}

.background-list {
    background: rgba(12, 65, 154, 0.1);
    border: 4px solid white;
    border-radius: 10px;
}

.docblock-source {
    padding-bottom: 20px;
}

pre.prismjs {
    max-height: 200px;
    padding: 20px 20px 40px;
}

#file-test-upload {
    padding-bottom: 12px;
}

#file-test-upload::file-selector-button {
    border: none;
    margin-right: 12px;
    background: #0c419a;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-hover:hover {
    background-color: rgba(12, 65, 154, 0.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-animate {
    animation: fadeIn 0.5s ease-in-out;
}