/* Base styles */
body {
	font-family: Arial, sans-serif;
}

/* Theme-aware styles for CNAM */
html.theme-cnam {
	--title-color: #0c419a;
	--background-list-color: rgb(12 65 154 / 10%);
	--border-color: white;
	--hover-color: rgb(12 65 154 / 5%);
	--button-bg: #0c419a;
	--button-text: #fff;
}

/* Theme-aware styles for PA */
html.theme-pa {
	--title-color: #0062ac;
	--background-list-color: rgb(0 0 145 / 10%);
	--border-color: white;
	--hover-color: rgb(0 0 145 / 5%);
	--button-bg: #0062ac;
	--button-text: #fff;
}

h1.title {
	color: var(--title-color);
	font-size: 3rem !important;
	line-height: normal !important;
}

@media (width <= 768px) {
	h1.title {
		font-size: 2rem !important;
	}
}

.background-list {
	background: var(--background-list-color);
	border: 4px solid var(--border-color);
	border-radius: 10px;
}

.docblock-source {
	padding-bottom: 20px;
}

pre.prismjs {
	max-height: 200px;
	padding: 20px 20px 40px;
}

#file-test-upload {
	padding-bottom: 12px;
}

#file-test-upload::file-selector-button {
	border: none;
	margin-right: 12px;
	background: var(--button-bg);
	padding: 8px 12px;
	border-radius: 4px;
	color: var(--button-text);
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-hover:hover {
	background-color: var(--hover-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.img-animate {
	animation: fadeIn 0.5s ease-in-out;
}

.sidebar-header a {
	display: block !important;
	margin: 0 auto !important;
}
