body {
    font-family: Arial, sans-serif;
}

h1.title {
    color: #0C419A;
    font-size: 3rem !important;
    line-height: normal !important;
}

@media (max-width: 768px) {
    h1.title {
        font-size: 2rem !important;
    }
}

.background-list {
    background: rgba(12, 65, 154, 0.1);
    border: 4px solid white;
    border-radius: 10px;
}

.docblock-source {
    padding-bottom: 20px;
}

pre.prismjs {
    max-height: 200px;
    padding: 20px 20px 40px;
}

#file-test-upload {
    padding-bottom: 12px;
}

#file-test-upload::file-selector-button {
    border: none;
    margin-right: 12px;
    background: #0c419a;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
}