// AMELIPRO COLORS
$ap-grey-darken1: #1A1B1B; //gris-1 app text color

// font-weight global values
$ap-font-weight-light: 300; // light
$ap-font-weight-regular: 400; // regular
$ap-font-weight-medium: 500; // medium
$ap-font-weight-semi-bold: 600; // semi-bold
$ap-font-weight-bold: 700; // bold

// font size variables
$font-size-xxs: 0.75rem; // 12px only for btn badges
$font-size-xs: 0.875rem; // 14px
$font-size-sm: 1rem; // 16px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.375rem; // 22px
$font-size-xxl: 1.5rem; // 24px

// button style values (used for AmeliproBtn and all similar shaped clickable elements like filters)
$btn-radius: 12px;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;
$btn-min-height: 3rem;

// set filters and pills styles
$filter-font-weight: $ap-font-weight-semi-bold;