/*
 * CNAM Design System
 * Tokens and settings for the AMELI PRO themes.
 * This file must not contain any styles as it will be duplicated many times.
 */

// Primitives
$amber-darken-80: #502C01;
$amber-darken-60: #784201;
$amber-darken-40: #9F5801;
$amber-darken-20: #C76E02;
$amber-base: #EF8402;
$amber-lighten-20: #F2992C;
$amber-lighten-40: #F4AD56;
$amber-lighten-60: #F7C281;
$amber-lighten-80: #FAD6AB;
$amber-lighten-90: #FCE6CC;
$amber-lighten-97: #FFFAF5;
$yellow-darken-80: #302407;
$yellow-darken-60: #60480E;
$yellow-darken-40: #906B15;
$yellow-darken-20: #C08F1C;
$yellow-base: #F0B323;
$yellow-lighten-20: #F3C24F;
$yellow-lighten-40: #F6D17B;
$yellow-lighten-60: #F9E1A7;
$yellow-lighten-80: #FCF0D3;
$yellow-lighten-90: #FDF7E9;
$yellow-lighten-97: #FFFDF8;
$green-darken-80: #112717;
$green-darken-60: #224E2D;
$green-darken-40: #347444;
$green-darken-20: #459B5A;
$green-base: #56C271;
$green-lighten-20: #78CE8D;
$green-lighten-40: #9ADAAA;
$green-lighten-60: #BBE7C6;
$green-lighten-80: #DDF3E3;
$green-lighten-90: #EEF9F1;
$green-lighten-97: #FAFDFB;
$turquoise-darken-80: #00221C;
$turquoise-darken-60: #004439;
$turquoise-darken-40: #006755;
$turquoise-darken-20: #008972;
$turquoise-base: #00AB8E;
$turquoise-lighten-20: #33BCA5;
$turquoise-lighten-40: #66CDBB;
$turquoise-lighten-60: #99DDD2;
$turquoise-lighten-80: #CCEEE8;
$turquoise-lighten-90: #E5F7F4;
$turquoise-lighten-97: #F7FCFC;
$blue-darken-80: #020D1F;
$blue-darken-60: #051A3E;
$blue-darken-40: #07275C;
$blue-darken-20: #0A347B;
$blue-base: #0C419A;
$blue-lighten-20: #3D67AE;
$blue-lighten-40: #6D8DC2;
$blue-lighten-60: #9EB3D7;
$blue-lighten-80: #CED9EB;
$blue-lighten-90: #E7ECF5;
$blue-lighten-97: #F8F9FC;
$cyan-darken-80: #00212D;
$cyan-darken-60: #004259;
$cyan-darken-40: #006386;
$cyan-darken-20: #0084B2;
$cyan-base: #00A5DF;
$cyan-lighten-20: #33B7E5;
$cyan-lighten-40: #66C9EC;
$cyan-lighten-60: #99DBF2;
$cyan-lighten-80: #CCEDF9;
$cyan-lighten-90: #E5F6FC;
$cyan-lighten-97: #F7FCFE;
$forest-green-darken-80: #002821;
$forest-green-darken-60: #003C32;
$forest-green-darken-40: #005042;
$forest-green-darken-20: #006453;
$forest-green-base: #007863;
$forest-green-lighten-20: #2A8F7D;
$forest-green-lighten-40: #55A597;
$forest-green-lighten-60: #80BCB1;
$forest-green-lighten-80: #AAD2CB;
$forest-green-lighten-90: #CCE4E0;
$forest-green-lighten-97: #EEFFFC;
$parma-darken-80: #171C26;
$parma-darken-60: #2F384D;
$parma-darken-40: #465473;
$parma-darken-20: #5E709A;
$parma-base: #758CC0;
$parma-lighten-20: #91A3CD;
$parma-lighten-40: #ACBAD9;
$parma-lighten-60: #C8D1E6;
$parma-lighten-80: #E3E8F2;
$parma-lighten-90: #F1F3F9;
$parma-lighten-97: #FBFCFD;
$mauve-darken-80: #201224;
$mauve-darken-60: #402449;
$mauve-darken-40: #60376D;
$mauve-darken-20: #804992;
$mauve-base: #A05BB6;
$mauve-lighten-20: #B37CC5;
$mauve-lighten-40: #C69DD3;
$mauve-lighten-60: #D9BDE2;
$mauve-lighten-80: #ECDEF0;
$mauve-lighten-90: #F5EFF8;
$mauve-lighten-97: #FCFAFD;
$pink-darken-80: #2D051A;
$pink-darken-60: #5A0A34;
$pink-darken-40: #87104D;
$pink-darken-20: #B41567;
$pink-base: #E11A81;
$pink-lighten-20: #E7489A;
$pink-lighten-40: #ED76B3;
$pink-lighten-60: #F3A3CD;
$pink-lighten-80: #F9D1E6;
$pink-lighten-90: #FCE8F2;
$pink-lighten-97: #FEF8FB;
$red-darken-80: #4D0000;
$red-darken-60: #740000;
$red-darken-40: #9B0000;
$red-darken-20: #B30E0E;
$red-base: #E80000;
$red-lighten-20: #EC2A2A;
$red-lighten-40: #FF5E5E;
$red-lighten-60: #F48080;
$red-lighten-80: #F7AAAA;
$red-lighten-90: #FACCCC;
$red-lighten-97: #FFF4F4;
$grey-darken-80: #111212;
$grey-darken-60: #222324;
$grey-darken-40: #323535;
$grey-darken-20: #434647;
$grey-base: #545859;
$grey-lighten-20: #76797A;
$grey-lighten-40: #989B9B;
$grey-lighten-60: #BBBCBD;
$grey-lighten-80: #DDDEDE;
$grey-lighten-90: #EEEEEE;
$grey-lighten-97: #FAFAFA;
$white-20: rgb(255 255 255 / 20%);
$white-38: rgb(255 255 255 / 38%);
$white-40: rgb(255 255 255 / 40%);
$white-70: rgb(255 255 255 / 70%);
$white-base: #fff;
$white-08: rgb(255 255 255 / 8%);
$white-00: rgb(255 255 255 / 0%);
$none-value: undefined;
$transparent-blue-18: rgb(12 65 154 / 18%);
$transparent-blue-08: rgb(12 65 154 / 8%);
$transparent-blue-00: rgb(12 65 154 / 0%);

// Semantic Tokens
$primary-darker-2: #004259;
$primary-darker: #006386;
$primary-base: #0084b2;
$primary: #0084b2;
$primary-light: #00a5df;
$primary-lighter-2: #33b7e5;
$primary-lighter-3: #66c9ec;
$primary-lighter-4: #e5f6fc;
$primary-lighter-5: #f7fcfe;
$secondary: #00212d;
$neutral-black: #111212;
$neutral-black-lighter: #545859;
$neutral-black-lighter-2: #989b9b;
$neutral-grey: #dddede;
$neutral-white: #fff;
$neutral-white-alpha: rgb(255 255 255 / 70%);
$neutral-white-alpha-lighter: rgb(255 255 255 / 40%);
$neutral-white-alpha-lighter-2: rgb(255 255 255 / 20%);
$neutral-white-alpha-lighter-3: rgb(255 255 255 / 8%);
$info-info-lightest: #f1f3f9;
$info-info-lighter: #e3e8f2;
$info-default: #465473;
$success-lightest: #EEFFFC;
$success-lighter: #cce4e0;
$success-default: #007863;
$success-darker: #005042;
$warning-lightest: #fdf7e9;
$warning-lighter: #fcf0d3;
$warning-default: #f0b323;
$warning-darker: #60480e;
$danger-lightest: #facccc;
$danger-lighter: #f7aaaa;
$danger-default: #B30E0E;
$user-professionnel: #66c9ec;
$user-assure: #ed76b3;
$user-entreprise: #f0b323;

// Contextual Tokens
$colors-background: #fff;
$colors-border: #ddd;
$colors-text: #333;
$colors-icon: #666;
$colors-overlay: rgb(0 0 0 / 50%);
$colors-interactive: #007bff;

$gap-0: 0;
$gap-1: 4px;
$gap-2: 8px;
$gap-3: 12px;
$gap-4: 16px;
$gap-5: 20px;
$gap-6: 24px;
$gap-7: 28px;
$gap-8: 32px;
$gap-9: 36px;
$gap-10: 40px;
$gap-11: 44px;
$gap-12: 48px;
$gap-13: 52px;
$gap-14: 56px;
$gap-15: 60px;
$gap-16: 64px;
$icon-size-xsmall: 8px;
$icon-size-small: 16px;
$icon-size-default: 24px;
$icon-size-large: 32px;
$radius-rounded-0: 0;
$radius-rounded: 4px;
$radius-rounded-lg: 8px;
$radius-rounded-pill: 64px;
$padding-0: 0;
$padding-2: 8px;
$padding-3: 12px;
$padding-4: 16px;
$padding-6: 24px;
$padding-8: 32px;
$padding-10: 40px;
$padding-14: 56px;
$padding-16: 64px;
$font-size-title: 24px;
$font-size-alt-title: 20px;
$font-size-body-text: 16px;
$font-size-link-label: 14px;

// Additional Contextual Tokens
$colors-background-main: #e7ecf5;
$colors-background-surface: #fff;
$colors-background-main-alt: #fff;
$colors-background-surface-alt: #e7ecf5;
$colors-background-raised: #f8f9fc;
$colors-background-accent: #0084B2;
$colors-background-accent-contrasted: #004259;
$colors-background-accent-alt: #545859;
$colors-background-info: #ced9eb;
$colors-background-info-subdued: #e7ecf5;
$colors-background-info-contrasted: #465473;
$colors-background-success: #AAD2CB;
$colors-background-success-subdued: #CCE4E0;
$colors-background-success-contrasted: #007863;
$colors-background-warning: #FCF0D3;
$colors-background-warning-subdued: #FDF7E9;
$colors-background-warning-contrasted: #F0B323;
$colors-background-error: #F7AAAA;
$colors-background-error-subdued: #FACCCC;
$colors-background-error-contrasted: #B30E0E;
$colors-background-disabled: #dddede;
$colors-background-disabled-ondark: rgb(255 255 255 / 8%);
$colors-background-assure: #ed76b3;
$colors-background-professionnel: #66c9ec;
$colors-background-entreprise: #f0b323;
$colors-border-darker: #222324;
$colors-border-base: #989B9B;
$colors-border-subdued: #dddede;
$colors-border-accent: #0084B2;
$colors-border-accent-contrasted: #006386;
$colors-border-accent-ondark: #fff;
$colors-border-info: #465473;
$colors-border-success: #007863;
$colors-border-warning: #60480E;
$colors-border-error: #B30E0E;
$colors-border-ondark: rgb(255 255 255 / 70%);
$colors-border-disabled: #dddede;
$colors-border-disabled-ondark: rgb(255 255 255 / 40%);
$colors-text-base: #222324;
$colors-text-accent: #0084B2;
$colors-text-accent-contrasted: #006386;
$colors-text-subdued: #545859;
$colors-text-info: #465473;
$colors-text-success: #007863;
$colors-text-warning: #60480E;
$colors-text-error: #B30E0E;
$colors-text-disabled: #989B9B;
$colors-text-ondark: #fff;
$colors-text-subdued-ondark: rgb(255 255 255 / 70%);
$colors-text-disabled-ondark: rgb(255 255 255 / 40%);
$colors-icon-base: #222324;
$colors-icon-subdued: #545859;
$colors-icon-subdued-ondark: rgb(255 255 255 / 70%);
$colors-icon-accent: #0084B2;
$colors-icon-accent-contrasted: #006386;
$colors-icon-info: #465473;
$colors-icon-success: #007863;
$colors-icon-warning: #60480E;
$colors-icon-error: #B30E0E;
$colors-icon-ondark: #fff;
$colors-icon-disabled: #989b9b;
$colors-icon-disabled-ondark: rgb(255 255 255 / 40%);
$colors-overlay-fullpage: #222324;
$colors-overlay-ondark: #006386;
$colors-overlay-onlight: #FFFFFF;
$colors-interactive-default: rgb(255 255 255 / 0%);
$colors-interactive-hover: #E5F6FC;
$colors-interactive-pressed: #CCEDF9;
$colors-interactive-focus: #E5F6FC;
$colors-interactive-disabled: rgb(255 255 255 / 0%);
$colors-interactive-hover-on-selected: #ced9eb;