@use 'fonts';
@use 'spacers';
@use 'radius';
@use '@/assets/tokens';
@use '@/assets/amelipro/tokens';

.v-btn {
	text-transform: inherit !important;
	font-weight: 700 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.v-btn.v-tab {
	text-transform: uppercase !important;
}

.theme-ap {
	.v-btn {
		text-transform: uppercase !important;
		background-color: tokens.$ap-blue-darken1;
	}
}

.v-tooltip .v-overlay__content {
	background-color: rgb(0 0 0 / 70%) !important;
}

.v-messages {
	font-size: 14px !important;

	.v-messages__message {
		line-height: 16px !important;
	}
}

// Common table styles
.v-data-table thead th .v-data-table-header__content {
	opacity: 0.65;
	font-size: 0.875rem;
	font-weight: 700 !important;
}

.v-data-table-progress {
	.v-progress-linear {
		height: 4px !important;
	}

	.v-progress-linear__background,
	.v-progress-linear__indeterminate {
		background: tokens.$primary-base !important;
	}
}
