/**
 * ! Do not put any style here or il will be duplicated many times
 * https://vuetifyjs.com/en/features/sass-variables/#duplicated-css
 */
@forward 'vuetify/settings' with (
	$layers: true,
	$body-font-family: Arial,
	$utilities: (
		'typography': false,
	),
);
