@use 'fonts';
@use 'spacers';

.v-btn {
	text-transform: inherit !important;
	font-weight: 700 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.v-btn.v-tab {
	text-transform: uppercase !important;
}

.v-tooltip .v-overlay__content {
	background-color: rgb(0 0 0 / 70%) !important;
}
